%width100 {
  width: 100%;
}
%width60{
  width: 60%;
}
.content {
  @extend %width100;

  &--slideImage {
    @extend %width100;

    img {
      @extend %width100;
    }
  }

  h2 {
    text-align: center;
  }

  %contextGridImage{
    background-color: #e4ebea;
    @extend %width100;
    height: 350px;
  }
  %btn-yellowGridImage{
    padding: 10px 15px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    justify-content: center;
  }
  %imageGridImage{
    @extend %width100;
    height: 350px;
    img {
      @extend %width100;
      height: 100%;
    }
  }
  .box--gridImage {
    .gridImage{
      &--col1 {
        @extend %width60;
        display: flex;
        margin: 0 20%;
        .box-context{
          @extend  %contextGridImage;
          .context{
            padding: 8% 6%;
          }
        }
        .btn-yellow {
          @extend %btn-yellowGridImage;
        }
        .image{
          @extend %imageGridImage;
        }
      }
      &--col2 {
        @extend %width60;
        display: flex;
        margin: 0 20%;
        .box-context{
          @extend  %contextGridImage;
          .context{
            padding: 8% 6%;
          }
        }
        .btn-yellow {
          @extend %btn-yellowGridImage;
        }
        .image{
          @extend %imageGridImage;
        }
      }
    }
  }

  .list-flower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @extend %width60;
    margin: 0 20%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;

    .flower--item {
      text-align: center;
      .btn{
        padding: 10px;
        color: white;
        border: none;
        border-radius: 4px;
        background-color: orangered;
        margin: 10px 0;
        &:hover{
          transition: 0.8s all;
          color: white;
          background-color: green;
          cursor: pointer;
        }
      }
      .iconCartEye{
        position: absolute;
        display: inline-grid;
        margin-left: -40px;
        margin-top: 5%;
        z-index: 10;
      }
    }
    .flower--image{
      @extend %width100;
      height: 65%;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      &:hover{
        transition: 0.8s all;
        opacity: 0.8;
      }
      &:hover ~ .iconCartEye{
        transition: 0.8s all;
        z-index: 999;
      }
    }
  }
}
.box-signup--form{
  width: 100%;
  background-color: #e4ebea;
  .signup{
    &--form{
      margin: 0 20%;
      padding: 4% 0;
      text-align: center;
    }
    &--tittle{
      font-size: 3rem;
      font-weight: 900;
      margin-bottom: 0px;
    }
    &--context{
      font-size: 1.1rem;
      color: grey;
    }
    &--input{
      padding: 12px 0 12px 7px;
      border: none;
      border-radius: 6px;
      width: 30%;
      outline: none;
    }
    &--bntYellow{
      padding: 12px 13px;
      background-color: orange;
      color: white;
      border-radius: 6px;
      &:hover{
        transition: 0.8s all;
        color: white;
        background-color: orangered;
        cursor: pointer;
      }
    }
  }
}
.box--gallery {
  @extend %width60;
  text-align: center;
  margin: 3% 20% 5% 20%;
  .gallery {
    &--image{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      @extend %width100;
      text-align: center;
      img {
        width: 90%;
        height: 150px;
        border-radius: 10px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      }
    }
    &--context{
      color: grey;
      font-size: 1.1rem;
      margin-bottom: 40px;
    }
  }
}

