<div class="listOrder">
  <h2 class="listOrder--title"> <i class="fas fa-home" routerLink="/home"></i> / List orders</h2>
  <ul class="order-table">
    <li class="table-header">
      <div class="col id">Id</div>
      <div class="col nameUser">Name User </div>
      <div class="col phone">Phone</div>
      <div class="col address">Address</div>
      <div class="col totalPrice"> Total price</div>
      <div class="col flowerDetail"> Flower</div>
    </li>
    <li class="table-row" *ngFor="let order of orders" >
      <div class="col id" >{{order.id}}</div>
      <div class="col nameUser" >{{order.nameUser}}</div>
      <div class="col phone" >{{order.phone}}</div>
      <div class="col address" >{{order.address}}</div>
      <div class="col totalPrice" >{{order.totalPrice}}</div>
      <div class="col flowerDetail" ><button type="submit" class="btn-danger" [routerLink]="['/order', order.id]"><i class="fas fa-eye"></i></button></div>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
