.form--edit{
  width: 100%;
  h2{
    border-bottom: 3px solid green;
    padding-bottom: 10px;
    width: 30%;
  }
  .form{
    &--group{
      width: 100%;
      display: flex;
    }
    &--field{
      width: 30%;
      margin-left: 50px;
      margin-top: 20px;
      .field--label{
        color: black;
        font-size: 1.1rem;
        margin: 10px 0;
      }
      .field--input{
        padding: 8px;
        width: 100%;
        border-radius: 5px;
        border: 2px solid grey;
        outline: none;
      }
    }
    &--button{
      margin-left: 34%;
      margin-top: 30px;
      padding: 10px 10px;
      border: none;
      border-radius: 5px;
      background-color: orange;
      color: white;
      font-size: 1rem;
      &:hover{
        transition: 0.8s all;
        color: white;
        background-color:red;
        cursor: pointer;
      }
    }
  }
}
