<div class="form--edit">
  <h2> Update Flower</h2>
 <form>
   <div class="form--group">
     <div class="form--field name">
       <label class="field--label"> Name</label><br>
       <input class="field--input" type ="text" value="{{flower.name}}" placeholder="Name">
     </div>
    <div class="form--field price">
      <label class="field--label"> Price</label><br>
      <input class="field--input" type ="number" value="{{flower.price}}" placeholder="Price">
    </div>
   </div>
   <div class="form--group" >
     <div class="form--field image">
       <label class="field--label"> Image</label><br>
       <input class="field--input" type ="text" value="{{flower.image}}" placeholder="Link image">
     </div>
     <div class="form--field stock">
       <label class="field--label"> Remaining Stock</label><br>
       <input class="field--input" type ="number" value="{{flower.remainingStock}}" placeholder="Remaining Stock">
     </div>
   </div>
    <button type ="submit" class="form--button"> Update</button>
 </form>
</div>
