<div class="footer">
  <div class="footer--item">
  <div class="item--col-1">
    <h4 class="title"> ABOUT US</h4>
    <p class="text"><i class="fas fa-map-marker-alt"></i> 99 To Hien Thanh, Son Tra</p>
    <p class="text"><i class="fas fa-envelope"></i> yeuho@gmail.com</p>
    <p class="text"><i class="fas fa-phone-alt"></i> 035 393 4657</p>
    <p>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram-square"></i>
      <i class="fab fa-linkedin-in"></i>
    </p>
  </div>
  <div class="item--col-2">
    <h4 class="title"> INFORMATION</h4>
    <p>About us</p>
    <p>Contact us</p>
    <p>Customer service</p>
    <p>Site Map</p>
  </div>
  <div class="item--col-3">
    <h4 class="title"> MY ACCOUNT</h4>
    <p>My orders</p>
    <p>My credit slip</p>
    <p>My profile</p>
    <p>Sign out</p>
  </div>
  <div class="item--col-4">
    <h4 class="title">OPENING INFO</h4>
    <p>Monday - Friday: 8:00 am - 10:00 pm</p>
    <p>Saturdays - Sunday: 9:00 am - 6:00 pm</p>
  </div>
  </div>
  <div class="copyright">
    <p> Copyright @ 2021 All contents write by us</p>
  </div>
</div>
