%itemTable{
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
%hoverStyle{
  transition: 0.8s all;
  color: white;
  cursor: pointer;
}
.box-cart{
  width: 100%;
  .cart-title{
    text-align: center;
  }
}
.cart {
  margin: 0 20%;
  width: 60%;
  overflow: auto;
.table{
  padding: 0;
  &--header{
    @extend %itemTable;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    text-align: center;
  }
  &--body{
    padding: 0 0 10px 0;
    @extend %itemTable;
    background-color: #ffffff;
    border-bottom: 1px solid grey;
    text-align: center;
  }
  &--totalPrice{
    font-size: 1.2rem;
    color: orangered;
    font-weight: 700;
    margin: 0 0 0 70%;
  }
  &--shopping-checkout{
    border-top: 1px solid grey;
    margin-top: 20px;
    padding: 30px 0;
    .btn{
      padding: 10px;
      outline: none;
      color: white;
      font-size: 1.1rem;
      border: none;
      border-radius: 4px;
      &.green{
        background-color: #19c219;
        &:hover{
          background-color: red;
          @extend %hoverStyle;
        }
      }
      &.red{
        background-color: orangered;
        float: right;
        &:hover{
          background-color: #19c219;
          @extend %hoverStyle;
        }
      }
    }
  }
}
}

.col {
  &.id {
    flex-basis: 5%;
  }

  &.description {
    flex-basis: 30%;
    display: flex;
    .image{
      width: 150px;
      height: 130px;
    }
    .name{
      margin-left: 10px;
    }
  }

  &.price {
    flex-basis: 20%;
  }

  &.quantity {
    flex-basis: 20%;
    .btn{
      padding: 4px 7px;
      outline: none;
      color: white;
      font-size: 1.1rem;
      border: none;
      border-radius: 4px;
      &.minus{
        background-color: red;
      }
      &.plus{
      background-color: red;
      }
      &:hover{
        background-color: #19c219;
        @extend %hoverStyle;
      }
    }
  }
  &.delete {
    flex-basis: 20%;
    .btn-delete{
      background-color: red;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      &:hover{
        background-color: #19c219;
        @extend %hoverStyle;
      }
    }
  }
}

