<div class="listFlower">
  <h2> List Flowers</h2>
  <ul class="flower-table">
    <li class="table-header">
      <div class="col id">Id</div>
      <div class="col name">Name</div>
      <div class="col image">Image</div>
      <div class="col price">Price</div>
      <div class="col stock"> Remaining stock</div>
      <div class="col edit"> Action</div>
    </li>
    <li class="table-row" *ngFor="let flower of flowers">
      <div class="col id" >{{flower.id}}</div>
      <div class="col name" >{{flower.name}}</div>
      <div class="col image" ><img src="{{flower.image}}"></div>
      <div class="col price" >{{flower.price}}</div>
      <div class="col stock" >{{flower.remainingStock}}</div>
      <div class="col edit" ><button type="submit" class="btn-danger" [routerLink]="['/flower', flower.id,'edit']"><i class="fas fa-edit"></i></button></div>
    </li>
  </ul>
</div>
