<div class="box-checkout">
  <div class="checkout">
    <div class="form-info">
      <h2> Fill in your information</h2>
      <label class="label--name"> Full name</label><br>
      <input type="text" class="input--name" placeholder="Enter your fullName"><br>
      <label class="label--address">Address</label><br>
      <input type="text" class="input--address" placeholder="Enter your address"><br>
      <label class="label--phone">Phone Number</label><br>
      <input type="text" class="input--phone" placeholder="Enter your phone number">
    </div>
    <div class="table-flower">
      <h2> Flowers you want to buy </h2>
      <table border="1">
        <thead>
        <tr>
          <th>Image</th>
          <th>Quantity</th>
          <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><img src="https://i.pinimg.com/564x/fd/ce/52/fdce52277519b95f448df0d420cc2277.jpg" class="image">
          </td>
          <td>2</td>
          <td>1000000</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
