<div class="header">
  <div class="header--first">
    <div class="shop-name">
     <h3 class="title">Beautiful Flower</h3>
    </div>
    <div class="search-bar">
      <input type = "text" name="search" class="search-input" placeholder="Search ..." >
    </div>
    <div class="list-icon">
      <i class="fas fa-cog"></i>
      <i class="fas fa-user" routerLink="/orderUser"></i>
      <i class="fas fa-shopping-cart" routerLink="/cart"></i>
    </div>
  </div>
  <div class="header--second">
   <ul class="menu">
     <li class="menu--item" routerLink="/home">HOME</li>
     <li class="menu--item">FLOWER</li>
     <li class="menu--item">BLOG</li>
     <li class="menu--item">ABOUT US</li>
     <li class="menu--item">CONTACT</li>
   </ul>
  </div>
</div>
