<div class="navigation">
    <div class="navigation--header">
      <h3>Menu <i class="fas fa-angle-down iconM"></i></h3>
    </div>
    <div class="navigation--body">
      <ul class="menu">
        <li class="menu--item" routerLink="/" ><i class="fas fa-home icon"></i> Home</li>
        <li class="menu--item" routerLink="/flower"><i class="fas fa-spa"></i> Flowers management</li>
        <li class="menu--item" routerLink="/order"><i class="fas fa-cart-arrow-down"></i> Order management</li>
        <li class="menu--item" routerLink="/contact"><i class="fas fa-address-card"></i> Contact</li>
      </ul>
    </div>
</div>
